.footer {

  &__row {
    padding:60px;
    backdrop-filter: blur(20px);
    //border-radius: 10px 10px 0px 0px;
    border-width: 3px 3px 0 3px;
    border-style: solid;
    border-image: linear-gradient(278.45deg, #BEFFF6 4.63%, #020E0C 88.5%) 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(lg12){
      border-width: 3px 0 0 0;
    }

    @include breakpoint(lg){
      padding:35px 20px;
      column-gap: 15px;
      row-gap: 20px;
    }
    @include breakpoint(md){
      padding:60px 20px;
      flex-wrap: wrap;
      row-gap: 20px;
    }
    @include breakpoint(sm){
      padding:50px 20px;
      row-gap: 40px;
      border: none;
      background-color: #0E2E29;
    }


  }

  &__nav {
    display: flex;
    column-gap: 100px;
    align-items: center;

    @include breakpoint(lg11){
      column-gap: calc(100vw/15);
    }
    @include breakpoint(md){
      flex-direction: column;
      align-items: start;
      row-gap: 30px;
    }
    @include breakpoint(sm){
      row-gap: 40px;
    }
  }

  .logo__wrapper {
    display: flex;
    height: 100%;
  }

  .logo {

  }

  &__nav-list {
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;

    @include breakpoint(sm){
      flex-direction: column;
      row-gap: 20px;
    }
  }

  &__item {
  }

  &__link {
    font-weight: 400;
    line-height: 150%;
    color: #FFFFFF;
    font-size: 24px;
    position: relative;
    display: inline-block;
    transition: .3s ease-in-out;

    &:visited{
      color:#fff;
    }
    &:after{
      content:'';
      position: absolute;
      width:0;
      left: 0;
      bottom: 0;
      height: 3px;
      background-color: #1eebcd;
      opacity: 0;
      transition: .3s ease-in-out;
    }
    &:hover:after{
      width:100%;
      opacity: 1;
    }
    &:active{
      color:#1eebcd;
    }
  }

  &__contacts {
    display: flex;
    column-gap: 30px;

    @include breakpoint(lg11){
      flex-direction: column;
      row-gap: 20px;
    }
    @include breakpoint(md){
      row-gap: 30px;
      line-height: 42px;

    }
    @include breakpoint(sm){
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 20px;
    }
  }

  &__phone, &__email {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    white-space: nowrap;
  }
  &__phone {

  }

  &__email {
  }
}