.header{
  overflow: hidden;
}
.header__bg-wrapper{
  position: absolute;
  top: -20%;
  left: -20%;
  min-width: 1424px;
  min-height: 1424px;

  @include breakpoint(lg11){
    top: -25%;
    left: -25%;
  }
  @include breakpoint(lg){
    top: -20%;
    left: -20%;
  }
  @include breakpoint(md){
    top: -30%;
    left: -30%;
  }
  @include breakpoint(sm){
    left:-40%;
  }
  @include breakpoint(xs){
    left:-50%;
  }
}
.nav {
  height: 87px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  //background-color: #020e0c;
  z-index: 2;
  background: rgba(2, 14, 12, 0.01);
  backdrop-filter: blur(20px);


  @include breakpoint(lg){
    padding-left: 20px;
  }
  @include breakpoint(md){
    height: unset;
  }
  @include breakpoint(sm){
    height: 82px;
    position: fixed;
    width: 100%;
    padding: 0 20px;
  }
}
.logo__wrapper{
  min-width: fit-content;

  @include breakpoint(md){
    height: 87px;
    display: flex;
    align-items: center;
  }
  @include breakpoint(sm){
    height: 82px;
  }
}
.logo__txt{
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
}

.logo__txt--green{
  font-style: italic;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #1EEBCD;
}
.nav__right-content{
  //width: 100%;
  display: flex;
  justify-content: space-between;
/*  margin-left: 53.5px;

  @include breakpoint(lg){
    margin-left: 58.5px;
  }*/
}
.nav__left-content{
  display: flex;
  align-items: center;
  column-gap: 53.5px;
  @include breakpoint(lg){
   column-gap: 58.5px;
    min-width: 300px;
  }
  @include breakpoint(md){
    min-width: unset;
    flex-direction: column;
    align-items: start;
    row-gap: 10px;
    margin-bottom: 30px;
  }
  @include breakpoint(sm){
    margin-bottom: unset;
  }
}

.hamburger {
  display: none;

  @include breakpoint(sm){
    display: flex;
    flex-direction: column;
    row-gap: 7.5px;
    align-items: end;
    cursor: pointer;
    z-index: 101;
    &.active .hamburger__bar:nth-child(2) {
      opacity: 0;
    }
    &.active .hamburger__bar:nth-child(1) {
      transform: translateY(11px) rotate(45deg);
    }
    &.active .hamburger__bar:nth-child(3) {
      transform: translateY(-11px) rotate(-45deg);
    }
  }
}

.hamburger__bar {
  display: block;

  transition: all 0.3s ease-in-out;
  border-radius: 5px;

  &:first-child, &:last-child{
    background-color: #BDFEF4;
    width: 55px;
    border: 2px solid #BDFEF4;
  }
  &:nth-child(2){
    width:35px;
    border: 2px solid #1EEBCD;
    background-color: #1EEBCD;
  }
}
.nav__authorization-wrapper{
  display: flex;
  column-gap: 30px;
  margin-left: 20px;
  @include breakpoint(lg){  }

  @include breakpoint(md){
    position: absolute;
    top: 0;right: 0;
  }
  @include breakpoint(sm){
    display: none;
  }


}

.nav__list{
  overflow: auto;
  flex-wrap: nowrap;
  column-gap: 60px;
  align-items: center;
  display: flex;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;

  &::-webkit-scrollbar{
    display: none;
  }
  @include breakpoint(lg){
    column-gap: 30px;
  }
  @include breakpoint(sm){
    flex-direction: column;
    align-items: end;
    margin:auto 0;
    width: 100%;
    padding:0 20px
  }
}

/*.nav__menu-wrapper{
  position: relative;
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(25px);
    z-index: -1;
  }
}*/
.nav__menu {
  overflow: auto;
  display: flex;
  align-items: center;
  border-image: linear-gradient(126.8deg, #BEFFF6 0%, #020E0C 90.89%) 1;

  &.active{
    @include breakpoint(sm){
      border-left: 3px solid;
      background: rgba(2, 14, 12, 0.61);
      right: 0;
      flex-direction: column;
    }
    @include breakpoint(xs38){
      border-left: 0;
    }
  }

  @include breakpoint(sm){
    max-width: 320px;
    height: 100vh;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    right: -100%;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding-top: 82px;
  }
  @include breakpoint(xs38){
    max-width: 100%;
  }

  .nav__authorization-wrapper{
    display: none;
    @include breakpoint(sm){
      display: block;
      margin: 0;
      position: unset;
      width: 100%;
      .nav__login-btn{
        width:100%;
        margin: 0 0 40px;
      }
      .nav__join-btn{
        width: 100%;
        border-radius: 0;
      }
    }
  }
}

.nav__item {
  @include breakpoint(sm){
    margin:2.5rem 0;
  }
}

.nav__link{
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  transition: .3s ease-in-out;

  &:hover{
    color: #1eebcd;
  }

}

.logo {
  min-width: fit-content;

  @include breakpoint(md){

  }
}
.nav__login-txt{
  display: inline-block;
  margin-right: 10px;
}

