@charset "utf-8";

@import "abstracts/_abstracts-dir";
@import "vendor/_verndor-dir";
@import "core/_core-dir";
@import "components/_components-dir";
@import "layouts/_layouts-dir";
@import "pages/_pages-dir";

.content{
  max-width: $maxWidth;
  margin: 0 auto;
}

body{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #000;
  background-color: #020e0c;

  &:before{
    content:"";
    position:fixed;
    right: -100%;
    top: 0;
    width:320px;
    height:100%;
    z-index: 1;
    backdrop-filter:blur(25px);
    transition: .3s ;
  }

  &.lock{
    overflow: hidden;
    @include breakpoint(sm){
      &:before{
        right:0;
      }
    }
    @include breakpoint(xs38){
      &:before{
        right:0;
        width:100%;
      }
    }
  }

}

.content__outer{
  max-width: 1920px;
  margin:0 auto;
  position: relative;
}
img {
  color:#fff;
}