h1{
  font-weight: 700;
  line-height: 150%;
  color: #FFFFFF;
  max-width: 620px;
  @include fluid-type(480px, 768px, 36px, 72px);
}

h2{
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
  @include fluid-type(480px, 768px, 32px, 64px);
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-login:before {
  content: "\e902";
}
.icon-triangle-empty:before {
  content: "\e903";
}
.icon-triangle-filled:before {
  content: "\e904";
  color: #1eebcd;
}
