<section class="advantages">
  <div class="content">
    <div class="advantages__row">
      <h2 class="advantages__title">Your shop needs BP plugin</h2>
      <div class="advantages__cards">
        <div class="advantages__card">
          <div class="advantages__img-wrapper">
            <picture>
              <source media="(min-width:768px)" srcset="http://dummyimage.com/190">
              <source media="(min-width:480px)" srcset="http://dummyimage.com/300">
              <source media="(min-width:320px)" srcset="http://dummyimage.com/210">
              <img src="http://dummyimage.com/300" alt="Customers">
            </picture>
          </div>
          <div class="advantages__card-txt">
            <p class="advantages__card-title">Increase in the number of regular customers</p>
            <p class="advantages__card-desc">Studies show that people are more likely to choose a store in which they
              “accumulate” points on a bonus card than a similar one without them.</p>
          </div>
        </div>
        <div class="advantages__card">
          <div class="advantages__img-wrapper">
            <picture>
              <source media="(min-width:768px)" srcset="http://dummyimage.com/190">
              <source media="(min-width:480px)" srcset="http://dummyimage.com/300">
              <source media="(min-width:320px)" srcset="http://dummyimage.com/210">
              <img src="http://dummyimage.com/300" alt="Communication">
            </picture>
          </div>
          <div class="advantages__card-txt">
            <p class="advantages__card-title">Possibility of communication</p>
            <p class="advantages__card-desc">Studies show that people are more likely to choose a store in which they
              “accumulate” points on a bonus card than a similar one without them.</p>
          </div>
        </div>
        <div class="advantages__card">
          <div class="advantages__img-wrapper">
            <picture>
              <source media="(min-width:768px)" srcset="http://dummyimage.com/190">
              <source media="(min-width:480px)" srcset="http://dummyimage.com/300">
              <source media="(min-width:320px)" srcset="http://dummyimage.com/210">
              <img src="http://dummyimage.com/300" alt="Bonuses">
            </picture>
          </div>
          <div class="advantages__card-txt">
            <p class="advantages__card-title">"Inducement" to make a purchase</p>
            <p class="advantages__card-desc">Consumers are attracted precisely by the “game of bonuses” - they are happy
              to make purchases again, accumulate points in order to receive the desired gift or product for free on the
              cherished day.</p>
          </div>
        </div>
        <div class="advantages__card">
          <div class="advantages__img-wrapper">
            <picture>
              <source media="(min-width:768px)" srcset="http://dummyimage.com/190">
              <source media="(min-width:480px)" srcset="http://dummyimage.com/300">
              <source media="(min-width:320px)" srcset="http://dummyimage.com/210">
              <img src="http://dummyimage.com/300" alt="Product line">
            </picture>
          </div>
          <div class="advantages__card-txt">
            <p class="advantages__card-title">Helps to coordinate work</p>
            <p class="advantages__card-desc">In accordance with the interests of potential and loyal customers, adjust
              the product line, use various methods of attraction. There is a convenient opportunity to "anticipate" the
              desires of consumers, "luring" them with interesting offers.</p>
          </div>
        </div>
        <div class="advantages__card">
          <div class="advantages__img-wrapper">
            <picture>
              <source media="(min-width:768px)" srcset="http://dummyimage.com/190">
              <source media="(min-width:480px)" srcset="http://dummyimage.com/300">
              <source media="(min-width:320px)" srcset="http://dummyimage.com/210">
              <img src="http://dummyimage.com/300" alt="Competitive">
            </picture>
          </div>
          <div class="advantages__card-txt">
            <p class="advantages__card-title">Competitive advantage</p>
            <p class="advantages__card-desc">The introduction of a bonus program is exactly what will help you get more
              customers and "poach" them from your competitors. Today, competition in the retail industry is serious,
              every retailer strives to make the buyer want to come back again and again.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>