<section class="bottom-content">
    <div class="content__outer">
        <div class="results">
                <div class="results__img-wrapper">
                    <img src="img/results-bg.png" alt="Results block background" class="results__img">
                </div>
            <div class="content">
                <div class="results__row">
                    <h2 class="results__title">After a month <br/>of working with us</h2>
                    <div class="results__body">
                        <div class="results__slider-wrapper">
                            <div class="results__slider-btn-wrapper">

                                <button class="results__slider-prev results__slider-btn"  onclick="winking(this);">
                                    <svg width="16" height="30" viewBox="0 0 16 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14.1504 1.80215L3.28372 12.6688C2.00039 13.9522 2.00039 16.0521 3.28372 17.3355L14.1504 28.2021"  stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </button>
                                <button class="results__slider-next results__slider-btn" onclick="winking(this);">
                                    <svg width="16" height="30" viewBox="0 0 16 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.84961 28.1998L12.7163 17.3331C13.9996 16.0498 13.9996 13.9498 12.7163 12.6665L1.84961 1.7998" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </button>
                            </div>
                            <div class="results__slider">
                                <div class="results__slide">
                                    <div class="results__slide-header">
                                        <div class="results__slide-img-wrapper">
                                            <picture>
                                                <source media="(max-width:480px)" srcset="http://dummyimage.com/60">
                                                <img src="http://dummyimage.com/100" alt="User's avatar">
                                            </picture>
                                        </div>
                                        <div class="results__slide-u-info">
                                            <p class="results__slide-u-name">Meta</p>
                                            <p class="results__slide-u-position">In a month</p>
                                        </div>
                                    </div>
                                        <div class="results__slide-body">
                                                <p class="results__subtitle">Before</p>
                                                <p class="results__subtitle">After</p>
                                                <div class="results__customers">
                                                    <p class="results__slide-desc">Regular customers</p>
                                                    <p class="results__slide-value">12</p>
                                                </div>
                                                <div class="results__customers results__customers--after">
                                                    <p class="results__slide-value results__customers-value--after">37</p>
                                                </div>
                                                <div class="results__profit">
                                                    <p class="results__slide-desc">Profit</p>
                                                    <p class="results__slide-value results__slide-value--middle">-$24</p>
                                                </div>
                                                <div class="results__profit results__profit--after">
                                                    <p class="results__slide-value">-$2400</p>
                                                </div>
                                                <div class="results__discount">
                                                    <p class="results__slide-desc">The cost of discounts</p>
                                                    <p class="results__slide-value results__slide-value--last">-$24</p>
                                                </div>
                                                <div class="results__discount results__discount--after">
                                                    <p class="results__slide-value">-$2400</p>
                                                </div>
                                        </div>
                                    </div>
                                <div class="results__slide">
                                    <div class="results__slide-header">
                                        <div class="results__slide-img-wrapper">
                                            <picture>
                                                <source media="(max-width:480px)" srcset="http://dummyimage.com/60">
                                                <img src="http://dummyimage.com/100" alt="User's avatar">
                                            </picture>
                                        </div>
                                        <div class="results__slide-u-info">
                                            <p class="results__slide-u-name">Meta</p>
                                            <p class="results__slide-u-position">In a month</p>
                                        </div>
                                    </div>
                                        <div class="results__slide-body">
                                                <p class="results__subtitle">Before</p>
                                                <p class="results__subtitle">After</p>
                                                <div class="results__customers">
                                                    <p class="results__slide-desc">Regular customers</p>
                                                    <p class="results__slide-value">12</p>
                                                </div>
                                                <div class="results__customers results__customers--after">
                                                    <p class="results__slide-value results__customers-value--after">37</p>
                                                </div>
                                                <div class="results__profit">
                                                    <p class="results__slide-desc">Profit</p>
                                                    <p class="results__slide-value results__slide-value--middle">-$24</p>
                                                </div>
                                                <div class="results__profit results__profit--after">
                                                    <p class="results__slide-value">-$2400</p>
                                                </div>
                                                <div class="results__discount">
                                                    <p class="results__slide-desc">The cost of discounts</p>
                                                    <p class="results__slide-value results__slide-value--last">-$24</p>
                                                </div>
                                                <div class="results__discount results__discount--after">
                                                    <p class="results__slide-value">-$2400</p>
                                                </div>
                                        </div>
                                    </div>
                            </div>
                        </div>

                        <div class="results__txt">
                            <p class="results__subtitle">
                                Meta. The largest company that owns the most popular social networks
                            </p>
                            <p class="results__desc">
                                This is probably the best place in my work experience) If you are lucky enough to get into the
                                Name team, you will understand everything yourself. Excellent attitude of the HR department full
                                support and adaptation in the first days of work. Coffee tea, cookies soda, delicious lunches.
                                No problems with payment, everything is transparent and clear
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bundle">
            <div class="content">
                <div class="bundle__row">
                    <h2 class="bundle__title">Save over 40%<br/> with plugins Bundle</h2>
                    <div class="bundle__desc">Buy a plugin right now and save 40% of the tariff cost</div>
                    <a class="bundle__btn">Get started</a>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="content">
                <div class="footer__row">
                    <div class="footer__nav">
                        <div class="footer__logo-wrapper">
                            <a href="#" class="logo">
                                <div class="logo__wrapper">
                                    <span class="logo__txt logo__txt--green">Up</span>
                                    <span class="logo__txt">Sells</span>
                                </div>
                            </a>
                        </div>
                        <ul class="footer__nav-list">
                            <li class="footer__item"><a href="#" class="footer__link">Plugins</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">Documentation</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">Support</a></li>
                        </ul>
                    </div>
                    <div class="footer__contacts">
                        <p class="footer__phone">+7-999-322-23-32</p>
                        <p class="footer__email">asda@mail.ru</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</section>