<section class="faq">
    <div class="content">
        <div class="faq__row">
            <div class="faq__header" >
                <h2 class="faq__title">FAQ</h2>
                <p class="faq__desc">
                    Here you can find answers to frequently asked questions. Well or ask your question
                </p>
                <a class="faq__btn" unselectable="on">Documentation</a>
            </div>
            <div class="accordion">
                <div class="accordion__item">
                    <button class="accordion__header">
                        <div class="accordion__svg-wrapper">
                            <svg width="27" height="30" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.5 9.13397C17.1667 9.51887 17.1667 10.4811 16.5 10.866L1.5 19.5263C0.833331 19.9112 -9.36737e-07 19.4301 -9.03088e-07 18.6603L-1.45985e-07 1.33974C-1.12336e-07 0.569945 0.833334 0.0888199 1.5 0.47372L16.5 9.13397Z" fill="#1EEBCD"/>
                            </svg>
                        </div>
                        <p class="accordion__header-txt"> When will I start to benefit from your company</p>
                    </button>
                    <div class="accordion__body">
                        <p class="accordion__body-txt">
                            This is probably the best place in my work experience) If you are lucky enough to get into
                            the Name team, you will understand everything yourself. Excellent attitude of the HR
                            department full support and adaptation in the first days of work. Coffee tea, cookies soda,
                            delicious lunches. No problems with payment, everything is transparent and clear
                        </p>
                    </div>
                </div>

                <div class="accordion__item">
                    <button class="accordion__header">
                        <div class="accordion__svg-wrapper">
                            <svg width="27" height="30" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.5 9.13397C17.1667 9.51887 17.1667 10.4811 16.5 10.866L1.5 19.5263C0.833331 19.9112 -9.36737e-07 19.4301 -9.03088e-07 18.6603L-1.45985e-07 1.33974C-1.12336e-07 0.569945 0.833334 0.0888199 1.5 0.47372L16.5 9.13397Z" fill="#1EEBCD"/>
                            </svg>
                        </div>
                        <p class="accordion__header-txt"> How much will it cost?</p>
                    </button>
                    <div class="accordion__body">
                        <p class="accordion__body-txt">
                            This is probably the best place in my work experience) If you are lucky enough to get into
                            the Name team, you will understand everything yourself. Excellent attitude of the HR
                            department full support and adaptation in the first days of work. Coffee tea, cookies soda,
                            delicious lunches. No problems with payment, everything is transparent and clear
                        </p>
                    </div>
                </div>
                <div class="accordion__item">
                    <button class="accordion__header">
                        <div class="accordion__svg-wrapper">
                            <svg width="27" height="30" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.5 9.13397C17.1667 9.51887 17.1667 10.4811 16.5 10.866L1.5 19.5263C0.833331 19.9112 -9.36737e-07 19.4301 -9.03088e-07 18.6603L-1.45985e-07 1.33974C-1.12336e-07 0.569945 0.833334 0.0888199 1.5 0.47372L16.5 9.13397Z" fill="#1EEBCD"/>
                            </svg>
                        </div>
                        <p class="accordion__header-txt">Here you can find answers to frequently asked questions. Well
                            or ask your question</p>
                    </button>
                    <div class="accordion__body">
                        <p class="accordion__body-txt">
                            This is probably the best place in my work experience) If you are lucky enough to get into
                            the Name team, you will understand everything yourself. Excellent attitude of the HR
                            department full support and adaptation in the first days of work. Coffee tea, cookies soda,
                            delicious lunches. No problems with payment, everything is transparent and clear
                        </p>
                    </div>
                </div>
                <div class="accordion__item">
                    <button class="accordion__header">
                        <div class="accordion__svg-wrapper">
                            <svg width="27" height="30" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.5 9.13397C17.1667 9.51887 17.1667 10.4811 16.5 10.866L1.5 19.5263C0.833331 19.9112 -9.36737e-07 19.4301 -9.03088e-07 18.6603L-1.45985e-07 1.33974C-1.12336e-07 0.569945 0.833334 0.0888199 1.5 0.47372L16.5 9.13397Z" fill="#1EEBCD"/>
                            </svg>
                        </div>
                        <p class="accordion__header-txt">When will I start to benefit from your company</p>
                    </button>
                    <div class="accordion__body">
                        <p class="accordion__body-txt">
                            This is probably the best place in my work experience) If you are lucky enough to get into
                            the Name team, you will understand everything yourself. Excellent attitude of the HR
                            department full support and adaptation in the first days of work. Coffee tea, cookies soda,
                            delicious lunches. No problems with payment, everything is transparent and clear
                        </p>
                    </div>
                </div>
                <div class="accordion__item">
                    <button class="accordion__header">
                        <div class="accordion__svg-wrapper">
                            <svg width="27" height="30" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.5 9.13397C17.1667 9.51887 17.1667 10.4811 16.5 10.866L1.5 19.5263C0.833331 19.9112 -9.36737e-07 19.4301 -9.03088e-07 18.6603L-1.45985e-07 1.33974C-1.12336e-07 0.569945 0.833334 0.0888199 1.5 0.47372L16.5 9.13397Z" fill="#1EEBCD"/>
                            </svg>
                        </div>
                        <p class="accordion__header-txt">How much will it cost?</p>
                    </button>
                    <div class="accordion__body">
                        <p class="accordion__body-txt">
                            This is probably the best place in my work experience) If you are lucky enough to get into
                            the Name team, you will understand everything yourself. Excellent attitude of the HR
                            department full support and adaptation in the first days of work. Coffee tea, cookies soda,
                            delicious lunches. No problems with payment, everything is transparent and clear
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>