<section class="features">
    <div class="content__outer">
        <div class="features__bg-img-wrapper">
            <img src="img/features-bg.png" alt="Green light" class="features__bg-img">
        </div>
        <div class="content">
            <div class="features__row">
                <h2 class="features__title">Features</h2>
                <div class="features__cards">
                    <div class="features__card">
                        <div class="features__card-txt">
                            <p class="features__card-title">Give points for a product, or groups created by taxonomies</p>
                            <p class="features__card-desc">
                                You can fully manage the amount of bonuses accrued for the purchase of both individual
                                products and groups. Groups are products united by common taxonomies (Categories, tags,
                                attributes, price, brands) that you can create and customize in an unlimited number.
                            </p>
                            <p class="features__card-desc">Or
                                <a href="#" class="features__card-link">try the free version</a>
                            </p>
                        </div>
                        <div class="features__card-img-wrapper">
                            <img src="img/f-piggyBank.png" alt="Piggy bank" class="features__card-img">
                        </div>
                    </div>

                    <div class="features__card">
                        <div class="features__card-txt">
                            <p class="features__card-title">Easy-to-manage control of user points balance</p>
                            <p class="features__card-desc">
                                The plugin allows you to conveniently track, accrue and control the balance of bonus
                                points both for each individual user and in bulk according to a certain user attribute.
                                At the same time, for each accrual / write-off, you can specify a reason, send a
                                newsletter, and much more.
                            </p>
                        </div>
                        <div class="features__card-img-wrapper">
                            <img src="img/f-credit-card.png" alt="Credit card, purchases and presents"
                                 class="features__card-img">
                        </div>
                    </div>

                    <div class="features__card">
                        <div class="features__card-txt">
                            <p class="features__card-title">Auto actions for accruing bonuses</p>
                            <p class="features__card-desc">
                                In this section, you can create and configure automatic points accrual companies based
                                on a trigger or conditions, followed by user notification via email or popup. Set up
                                auto bonuses for registration, birthday, users of a certain age, amount of purchases,
                                time since registration, users who abandoned the cart, users who left a review and many
                                other triggers and conditions.
                            </p>
                        </div>
                        <div class="features__card-img-wrapper">
                            <img src="img/f-purchases.png" alt="Bonuses" class="features__card-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>