<header class="header">
    <div class="content__outer">
        <div class="header__bg-wrapper">
            <img src="img/hero-bg.png" alt="triangles-bg" class="header__bg">
        </div>
    <div class="content">
        <nav class="nav">
            <div class="nav__left-content">
                <a href="#" class="logo">
                    <div class="logo__wrapper">
                        <span class="logo__txt logo__txt--green">Up</span>
                        <span class="logo__txt">Sells</span>
                    </div>
                </a>
                    <div class="nav__menu">

                        <ul class="nav__list">
                            <li class="nav__item">
                                <a href="#" class="nav__link">Features </a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">Documentation</a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">Support</a>
                            </li>
                        </ul>
                        <div class="nav__authorization-wrapper">
                            <button class="nav__login-btn">
                                <span class="nav__login-txt">Login</span>
                                <svg width="24" height="25" viewBox="0 0 24 25" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.8999 8.06001C9.2099 4.46001 11.0599 2.99001 15.1099 2.99001H15.2399C19.7099 2.99001 21.4999 4.78001 21.4999 9.25001V15.77C21.4999 20.24 19.7099 22.03 15.2399 22.03H15.1099C11.0899 22.03 9.2399 20.58 8.9099 17.04"
                                          stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M2 12.5H14.88" stroke-width="2" stroke-linecap="round"
                                          stroke-linejoin="round"/>
                                    <path d="M12.6499 9.14999L15.9999 12.5L12.6499 15.85" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                            <button class="nav__join-btn">Join now</button>
                        </div>
                    </div>


            </div>


            <div class="nav__authorization-wrapper">
                <button class="nav__login-btn">
                    <span class="nav__login-txt">Login</span>
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.8999 8.06001C9.2099 4.46001 11.0599 2.99001 15.1099 2.99001H15.2399C19.7099 2.99001 21.4999 4.78001 21.4999 9.25001V15.77C21.4999 20.24 19.7099 22.03 15.2399 22.03H15.1099C11.0899 22.03 9.2399 20.58 8.9099 17.04" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M2 12.5H14.88" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.6499 9.14999L15.9999 12.5L12.6499 15.85" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
                <button class="nav__join-btn">Join now</button>
            </div>
            <div class="hamburger">
                <span class="hamburger__bar"></span>
                <span class="hamburger__bar"></span>
                <span class="hamburger__bar"></span>
            </div>
        </nav>
    </div>

    <section class="hero">
        <div class="content">
            <div class="hero__row">
                <!--<div class="hero__txt-gradient">-->
                    <div class="hero__txt-wrapper hero__gradient-border">
                        <h1 class="hero__title">Woocommerce Bonus Point</h1>
                        <p class="hero__txt">The plugin provides a thoughtful and fully customizable bonus system for
                            your online store. This is the real magic in the fight to attract and retain customers and
                            the desire to shop in your online store again and again.
                        </p>
                        <button class="hero__btn">Choose Your Plan</button>
                        <p class="hero__txt">
                            Or <a href="" class="hero__link">try the free version</a>
                        </p>

                    </div>
               <!-- </div>-->
                <div class="hero__img-wrapper">
                    <img src="img/hero.png" alt="shopping cart" class="hero__img">
                </div>
            </div>
            <div class="content">
                <footer class="hero__footer">
                    <div class="hero__statistic-block">
                        <div class="hero__statistic-title">90%+</div>
                        <p class="hero__statistic-txt">Websites increased sales</p>
                    </div>
                    <div class="hero__statistic-block">
                        <div class="hero__statistic-title">100+</div>
                        <p class="hero__statistic-txt">Support and blog articles</p>
                    </div>
                    <div class="hero__statistic-block">
                        <div class="hero__statistic-title">150+</div>
                        <p class="hero__statistic-txt">Five stars review</p>
                    </div>
                    <div class="hero__statistic-block">
                        <div class="hero__statistic-title">240%+</div>
                        <p class="hero__statistic-txt">Increase in repeat customers</p>
                    </div>
                </footer>
            </div>
        </div>
    </section>
    </div>
</header>