<section class="plans">
  <div class="content">
    <div class="plans__row">
      <div class="plans__header-wrapper">
        <div class="plans__header-title">
          <h2 class="plans__title">Pro vs Free</h2>
          <p class="plans__feature-title plans__availability">Feature</p>
        </div>
        <div class="plans__header">
          <div class="plans__header-pro">
            <p class="plans__availability">Pro plan</p>
            <p class="plans__price">$199</p>
            <p class="plans__desc">Studies show that people are more likely to choose a store in which.</p>
            <button class="plans__btn">Get started</button>
          </div>
          <div class="plans__header-free">
            <p class="plans__availability">Free plan</p>
            <p class="plans__price">$0</p>
            <p class="plans__desc">Studies show that people are more likely to choose a store in which.</p>
            <button class="plans__btn-white">Get started</button>
          </div>
        </div>
      </div>
      <div class="plans__table">
        <div class="plans__t-row">
          <div class="plans__feature-name">Score widget shortcode</div>
          <div class="plans__feature-comparing">
            <div class="plans__feature-comparing-content">
              <div class="plans__feature-availability">
                <div class="plans__feature-content">
                  <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.5 9.13397C17.1667 9.51887 17.1667 10.4811 16.5 10.866L1.5 19.5263C0.833331 19.9112 -9.36737e-07 19.4301 -9.03088e-07 18.6603L-1.45985e-07 1.33974C-1.12336e-07 0.569945 0.833334 0.0888199 1.5 0.47372L16.5 9.13397Z" fill="#1EEBCD"/>
                  </svg>
                  <span class='plans__feature-txt'>Yes</span>
                </div>
                <div class="plans__feature-line"></div>
              </div>
              <div class="plans__feature-availability">
              <div class="plans__feature-content">
                <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.5 9.13397C17.1667 9.51887 17.1667 10.4811 16.5 10.866L1.5 19.5263C0.833331 19.9112 -9.36737e-07 19.4301 -9.03088e-07 18.6603L-1.45985e-07 1.33974C-1.12336e-07 0.569945 0.833334 0.0888199 1.5 0.47372L16.5 9.13397Z" fill="#1EEBCD"/>
                </svg>
                <span class='plans__feature-txt'>Yes</span>
              </div>
              <div class="plans__feature-line"></div>
            </div>
            </div>
            <div class="plans__feature-line--md"></div>
          </div>

        </div>
        <div class="plans__t-row">
          <div class="plans__feature-name">Entering points for products</div>
          <div class="plans__feature-comparing">
            <div class="plans__feature-comparing-content">
              <div class="plans__feature-availability">
                <div class="plans__feature-content">
                  <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.5 9.13397C17.1667 9.51887 17.1667 10.4811 16.5 10.866L1.5 19.5263C0.833331 19.9112 -9.36737e-07 19.4301 -9.03088e-07 18.6603L-1.45985e-07 1.33974C-1.12336e-07 0.569945 0.833334 0.0888199 1.5 0.47372L16.5 9.13397Z" fill="#1EEBCD"/>
                  </svg>
                  <span class='plans__feature-txt'>In % or $</span>
                </div>
                <div class="plans__feature-line"></div>
              </div>
              <div class="plans__feature-availability">
                <div class="plans__feature-content">
                  <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.5 9.13397C17.1667 9.51887 17.1667 10.4811 16.5 10.866L1.5 19.5263C0.833331 19.9112 -9.36737e-07 19.4301 -9.03088e-07 18.6603L-1.45985e-07 1.33974C-1.12336e-07 0.569945 0.833334 0.0888199 1.5 0.47372L16.5 9.13397Z" fill="#1EEBCD"/>
                  </svg>
                  <span class='plans__feature-txt'>In % or $</span>
                </div>
                <div class="plans__feature-line"></div>
              </div>
            </div>
            <div class="plans__feature-line--md"></div>
          </div>

        </div>
        <div class="plans__t-row">
          <div class="plans__feature-name">Managing product points</div>
          <div class="plans__feature-comparing">
            <div class="plans__feature-comparing-content">
              <div class="plans__feature-availability">
                <div class="plans__feature-content">
                  <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.5 9.13397C17.1667 9.51887 17.1667 10.4811 16.5 10.866L1.5 19.5263C0.833331 19.9112 -9.36737e-07 19.4301 -9.03088e-07 18.6603L-1.45985e-07 1.33974C-1.12336e-07 0.569945 0.833334 0.0888199 1.5 0.47372L16.5 9.13397Z" fill="#1EEBCD"/>
                  </svg>
                  <span class='plans__feature-txt'>Yes</span>
                </div>
                <div class="plans__feature-line"></div>
              </div>
              <div class="plans__feature-availability">
                <div class="plans__feature-content">
                  <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.5 9.13397C17.1667 9.51887 17.1667 10.4811 16.5 10.866L1.5 19.5263C0.833331 19.9112 -9.36737e-07 19.4301 -9.03088e-07 18.6603L-1.45985e-07 1.33974C-1.12336e-07 0.569945 0.833334 0.0888199 1.5 0.47372L16.5 9.13397Z" fill="#1EEBCD"/>
                  </svg>
                  <span class='plans__feature-txt'>Yes</span>
                </div>
                <div class="plans__feature-line"></div>
              </div>
            </div>
            <div class="plans__feature-line--md"></div>
          </div>

        </div>
        <div class="plans__t-row">
          <div class="plans__feature-name">Entering points for products</div>
          <div class="plans__feature-comparing">
            <div class="plans__feature-comparing-content">
              <div class="plans__feature-availability">
                <div class="plans__feature-content">
                  <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.5 9.13397C17.1667 9.51887 17.1667 10.4811 16.5 10.866L1.5 19.5263C0.833331 19.9112 -9.36737e-07 19.4301 -9.03088e-07 18.6603L-1.45985e-07 1.33974C-1.12336e-07 0.569945 0.833334 0.0888199 1.5 0.47372L16.5 9.13397Z" fill="#1EEBCD"/>
                  </svg>
                  <span class='plans__feature-txt'>Yes</span>
                </div>
                <div class="plans__feature-line"></div>
              </div>
              <div class="plans__feature-availability">
                <div class="plans__feature-content">
                  <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16 10L0.999999 18.6603L1 1.33975L16 10Z" stroke="#1EEBCD" stroke-width="2"/>
                  </svg>
                  <span class='plans__feature-txt'>No</span>
                </div>
                <div class="plans__feature-line"></div>
              </div>
            </div>
            <div class="plans__feature-line--md"></div>
          </div>

        </div>
        <div class="plans__t-row">
          <div class="plans__feature-name">Creating and managing product points</div>
          <div class="plans__feature-comparing">
            <div class="plans__feature-comparing-content">
              <div class="plans__feature-availability">
                <div class="plans__feature-content">
                  <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.5 9.13397C17.1667 9.51887 17.1667 10.4811 16.5 10.866L1.5 19.5263C0.833331 19.9112 -9.36737e-07 19.4301 -9.03088e-07 18.6603L-1.45985e-07 1.33974C-1.12336e-07 0.569945 0.833334 0.0888199 1.5 0.47372L16.5 9.13397Z" fill="#1EEBCD"/>
                  </svg>
                  <span class='plans__feature-txt'>Yes</span>
                </div>
                <div class="plans__feature-line"></div>
              </div>
              <div class="plans__feature-availability">
                <div class="plans__feature-content">
                  <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16 10L0.999999 18.6603L1 1.33975L16 10Z" stroke="#1EEBCD" stroke-width="2"/>
                  </svg>
                  <span class='plans__feature-txt'>No</span>
                </div>
                <div class="plans__feature-line"></div>
              </div>
            </div>
            <div class="plans__feature-line--md"></div>
          </div>

        </div>
        <div class="plans__t-row">
          <div class="plans__feature-name">Group Priority Setting</div>
          <div class="plans__feature-comparing">
            <div class="plans__feature-comparing-content">
              <div class="plans__feature-availability">
                <div class="plans__feature-content">
                  <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.5 9.13397C17.1667 9.51887 17.1667 10.4811 16.5 10.866L1.5 19.5263C0.833331 19.9112 -9.36737e-07 19.4301 -9.03088e-07 18.6603L-1.45985e-07 1.33974C-1.12336e-07 0.569945 0.833334 0.0888199 1.5 0.47372L16.5 9.13397Z" fill="#1EEBCD"/>
                  </svg>
                  <span class='plans__feature-txt'>Yes</span>
                </div>
                <div class="plans__feature-line"></div>
              </div>
              <div class="plans__feature-availability">
                <div class="plans__feature-content">
                  <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16 10L0.999999 18.6603L1 1.33975L16 10Z" stroke="#1EEBCD" stroke-width="2"/>
                  </svg>
                  <span class='plans__feature-txt'>No</span>
                </div>
                <div class="plans__feature-line"></div>
              </div>
            </div>
            <div class="plans__feature-line--md"></div>
          </div>

        </div>
      </div>


    </div>
  </div>
</section>