<section class="price-reviews">
    <div class="content__outer">
        <div class="price">
            <div class="price__bg-img-wrapper">
                <img src="img/pricing-bg.png" alt="Green light">
            </div>
            <div class="content">
                <div class="price__row">
                    <div class="price__header">
                        <h2 class="price__title">Pricing</h2>
                        <div class="price__switcher">
                            <label class="price__radio" for="price__radio-1">
                                <span class="price__radio-txt">Monthly</span>
                                <input checked id="price__radio-1" type="radio" class="price__radio-input" name="price-radio"
                                       onchange="radioUpd(this);" value="1">
    
                                <span class="price__fake-radio"></span>
                            </label>
                            <label class="price__radio" for="price__radio-2">
                                <span class="price__radio-txt">Annual</span>
                                <input id="price__radio-2" type="radio" class="price__radio-input" name="price-radio"
                                       onchange="radioUpd(this);" value="11">
                                <span class="price__fake-radio"></span>
                            </label>
                        </div>
                    </div>
                    <div class="price__cards">
                        <div class="price__card price__card--unlimited">
                            <p class="price__card-plan">Unlimited</p>
                            <p class="price__card-cost">$599</p>
                            <ul class="price__advantages">
                                <li class="price__site-amount price__list-item">Unlimited site</li>
                                <li class="price__list-delimiter"></li>
                                <li class="price__lifetime-upd price__list-item">Lifetime Updates</li>
                                <li class="price__list-delimiter"></li>
                                <li class="price__lifetime-sup price__list-item">Lifetime Updates</li>
                                <li class="price__list-delimiter"></li>
                            </ul>
                            <button class="price__buy-btn">Buy now</button>
                            <button class="price__free-btn">Free version</button>
                        </div>
    
                        <div class="price__card">
                            <p class="price__card-plan">Five Sites</p>
                            <p class="price__card-cost">$249</p>
                            <ul class="price__advantages">
                                <li class="price__site-amount price__list-item">Unlimited site</li>
                                <li class="price__list-delimiter"></li>
                                <li class="price__lifetime-upd price__list-item">Lifetime Updates</li>
                                <li class="price__list-delimiter"></li>
                                <li class="price__lifetime-sup price__list-item">Lifetime Updates</li>
                                <li class="price__list-delimiter"></li>
                            </ul>
                            <button class="price__buy-btn">Buy now</button>
                            <button class="price__free-btn">Free version</button>
                        </div>
    
                        <div class="price__card">
                            <p class="price__card-plan">Two Sites</p>
                            <p class="price__card-cost">$200</p>
                            <ul class="price__advantages">
                                <li class="price__site-amount price__list-item">Two site</li>
                                <li class="price__list-delimiter"></li>
                                <li class="price__lifetime-upd price__list-item">Lifetime Updates</li>
                                <li class="price__list-delimiter"></li>
                                <li class="price__lifetime-sup price__list-item">Lifetime Updates</li>
                                <li class="price__list-delimiter"></li>
                            </ul>
                            <button class="price__buy-btn">Buy now</button>
                            <button class="price__free-btn">Free version</button>
                        </div>
    
                        <div class="price__card">
                            <p class="price__card-plan">One Site</p>
                            <p class="price__card-cost">$149</p>
                            <ul class="price__advantages">
                                <li class="price__site-amount price__list-item">Single site</li>
                                <li class="price__list-delimiter"></li>
                                <li class="price__lifetime-upd price__list-item">Lifetime Updates</li>
                                <li class="price__list-delimiter"></li>
                                <li class="price__lifetime-sup price__list-item">Lifetime Updates</li>
                                <li class="price__list-delimiter"></li>
                            </ul>
                            <button class="price__buy-btn">Buy now</button>
                            <button class="price__free-btn">Free version</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="reviews">
            <div class="content">
            <div class="reviews__row">
                <h2 class="reviews__title reviews__side-padding">Reviews</h2>
                <div class="reviews__slider-wrapper">
                    <div class="reviews__slider">
                        <div class="reviews__slide">
                            <div class="reviews__slide-content">
                                <p class="reviews__slide-title">Cool! 1</p>
                                <p class="reviews__slide-desc">
                                    I liked everything. And the staff, and the deposit, and cookies with coffee, and cleanliness
                                    in the premises. In the server room, you just need to put a table with a monitor in order
                                    and add another chair. Well done. I didn 't want to leave
                                </p>
                            </div>
                            <div class="reviews__slide-author">
                                <div class="reviews__slide-avatar-wrapper">
                                    <img src="http://dummyimage.com/80" alt="User's avatar" class="reviews__slide-avatar">
                                </div>
                                <div class="reviews__slide-author-txt">
                                    <p class="reviews__slide-author-name">Meta</p>
                                    <p class="reviews__slide-author-pos">General director</p>
                                </div>
                            </div>
                        </div>
    
                        <div class="reviews__slide">
                            <div class="reviews__slide-content">
                                <p class="reviews__slide-title">Soooo GOOD! 2</p>
                                <p class="reviews__slide-desc">
                                    I liked everything. And the staff, and the deposit, and cookies with coffee, and cleanliness
                                    in the premises. In the server room, you just need to put a table with a monitor in order
                                    and add another chair. Well done. I didn 't want to leave
                                </p>
                            </div>
                            <div class="reviews__slide-author">
                                <div class="reviews__slide-avatar-wrapper">
                                    <img src="http://dummyimage.com/80" alt="User's avatar" class="reviews__slide-avatar">
                                </div>
                                <div class="reviews__slide-author-txt">
                                    <p class="reviews__slide-author-name">Play Market </p>
                                    <p class="reviews__slide-author-pos">General director</p>
                                </div>
                            </div>
                        </div>
    
                        <div class="reviews__slide">
                            <div class="reviews__slide-content">
                                <p class="reviews__slide-title">Let's turn again 3</p>
                                <p class="reviews__slide-desc">
                                    I liked everything. And the staff, and the deposit, and cookies with coffee, and cleanliness
                                    in the premises. In the server room, you just need to put a table with a monitor in order
                                    and add another chair. Well done. I didn 't want to leave
                                </p>
                            </div>
                            <div class="reviews__slide-author">
                                <div class="reviews__slide-avatar-wrapper">
                                    <img src="http://dummyimage.com/80" alt="User's avatar" class="reviews__slide-avatar">
                                </div>
                                <div class="reviews__slide-author-txt">
                                    <p class="reviews__slide-author-name">Meta</p>
                                    <p class="reviews__slide-author-pos">General director</p>
                                </div>
                            </div>
                        </div>
    
                        <div class="reviews__slide">
                            <div class="reviews__slide-content">
                                <p class="reviews__slide-title">Let's turn again 4</p>
                                <p class="reviews__slide-desc">
                                    I liked everything. And the staff, and the deposit, and cookies with coffee, and cleanliness
                                    in the premises. In the server room, you just need to put a table with a monitor in order
                                    and add another chair. Well done. I didn 't want to leave
                                </p>
                            </div>
                            <div class="reviews__slide-author">
                                <div class="reviews__slide-avatar-wrapper">
                                    <img src="http://dummyimage.com/80" alt="User's avatar" class="reviews__slide-avatar">
                                </div>
                                <div class="reviews__slide-author-txt">
                                    <p class="reviews__slide-author-name">Meta</p>
                                    <p class="reviews__slide-author-pos">General director</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviews__slick-dots"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>