<section class="purchase">
    <div class="content">
        <div class="purchase__row">
            <div class="purchase__img-content">
                <h2 class="purchase__title">Woocommerce Bonus Point</h2>
                <div class="purchase__img-wrapper">
                    <img src="img/purchase-main.png" alt="Credit card" class="purchase__img">
                </div>
            </div>
            <div class="purchase__cards">
                <div class="purchase__card">
                    <div class="purchase__card-img-wrapper">
                        <img src="img/presents.png" alt="Presents" class="purchase__card-img">
                    </div>
                    <div class="purchase__card-txt">
                        <p class="purchase__card-title">It works very simply:</p>
                        <p class="purchase__card-desc">
                            For each purchase you make, you credit the buyer’s account with a certain number of Bonus
                            Points
                        </p>
                    </div>
                </div>

                <div class="purchase__card">
                    <div class="purchase__card-img-wrapper">
                        <img src="img/piggyBank.png" alt="Piggy bank" class="purchase__card-img">
                    </div>
                    <div class="purchase__card-txt">
                        <p class="purchase__card-title">Convenience and benefit for everyone</p>
                        <p class="purchase__card-desc">
                            The client can spend the accumulated Bonus points in the same way as real ones — they can
                            pay for the % of the purchase you specified
                        </p>
                    </div>
                </div>

                <div class="purchase__card">
                    <div class="purchase__card-img-wrapper">
                        <img src="img/packets.png" alt="Packets" class="purchase__card-img">
                    </div>
                    <div class="purchase__card-txt">
                        <p class="purchase__card-title">The buyer is 90% likely to return</p>
                        <p class="purchase__card-desc">
                            Thus, each purchase partially pays for the next one, and if you implement it in your store,
                            then the buyer is 90% likely to return to make a repeat purchase!
                        </p>
                    </div>
                </div>
            </div>
            <a href="" class="purchase__btn">Choose Your Plan</a>
        </div>
    </div>
</section>