<section class="settings">
    <div class="content">
        <div class="settings__row">
            <div class="settings__col-l">
                <h2 class="settings__title">Global settings and design</h2>
                <p class="settings__desc">
                    The plugin has the widest customization of each element of the bonus system on the front:
                </p>
                <button class="settings__btn">Сheck all features</button>
            </div>
            <div class="settings__col-r">
                <div class="settings__paragraphs">
                    <p class="settings__paragraph">
                        The plugin has the widest customization of each element of the bonus system on the front:
                    </p>
                    <p class="settings__paragraph">
                        Set the expiration date of certain bonus points.
                    </p>
                    <p class="settings__paragraph">
                        Set the percentage/amount of the purchase that can be redeemed with bonuses.
                    </p>
                    <p class="settings__paragraph">
                        Currency, minimum age of participants, usage logic with coupons, shipping fees, refund settings and
                        more.
                    </p>
                    <p class="settings__paragraph">
                        Moreover, from the specified settings, a page of rules for using the bonus system is automatically
                        generated, which are available to the user in his personal bonus account.
                    </p>
                </div>
                <button class="settings__btn">Сheck all features</button>
            </div>
        </div>
    </div>
</section>