.accordion__header {
  background-color: unset;
  cursor: pointer;
  //padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;


}

.accordion__header.active, .accordion__header:hover {
  //background-color: #ccc;

}


.accordion__body {
  //padding: 0 18px;

}
