.nav__join-btn{
  padding:30px 90px;
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #020E0C;
  border-radius: 0px 0px 10px 0px;
  white-space: nowrap;
  transition: .3s ease-in-out;

  &:hover{
    background-color: #1eebcd;
    color:white;
  }

  &:active{
    background-color: #1eebcd;
    box-shadow: inset 0px 0px 59px 0px rgba(0,0,0,0.75);;
  }


  @include breakpoint(lg11){
    padding:30px 75px;
  }
  @include breakpoint(lg){
    padding:30px 60px;
  }
}

.nav__login-btn{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  background-color: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s ease-in-out;
  svg{
    stroke:#fff;
    transition: .3s ease-in-out;
  }

  &:hover{
    color:#1eebcd;

    svg{
      stroke:#1eebcd;
    }
  }
  &:active{
    color:#fff;

    svg{
      stroke:#fff;
    }
  }

}

.hero__btn {
  padding:30px 60px;
  background: #1EEBCD;
  box-shadow: 0px 4px 67px rgba(30, 235, 205, 0.6);
  border-radius: 10px;
  font-weight: 700;
  line-height: 150%;
  color: #020E0C;
  width:fit-content;
  transition: .3s ease-in-out;
  @include fluid-type(480px, 768px, 14px, 18px);
  @include breakpoint(md){
    width:100%;
  }

  &:hover{
    background-color: #9ffdef;
  }

  &:active{
    box-shadow: 0px 2px 30px rgba(30, 235, 205, 0.6);
    background: #1EEBCD;
  }
}

.purchase__btn{
  @extend .hero__btn;
  display: none;
  padding:30px 0;



  @include breakpoint(lg){
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.settings__btn{
  @extend .hero__btn;
  max-width: 520px;
  min-width: 400px;
  width: 80%;

  @include breakpoint(lg){
    max-width: 100%;

    @include breakpoint(lg){
      width: 100%;
    }
    @include breakpoint(sm){
      min-width: 100%;
    }
  }
}
.plans__btn{
  @extend .hero__btn;
  width:100%;
  @include breakpoint(lg){
    display: flex;
    padding:30px 0;
    justify-content: center;
  }
  @include breakpoint(xs38){
    padding: 20px 0;
  }
}
.plans__btn-white{
  @extend .plans__btn;
  background-color: unset;
  box-shadow: unset;
  border: 3px solid #FFFFFF;
  border-radius: 10px;
  color:white;
  padding: 27px 60px;
  
  @include breakpoint(lg){
    padding:27px 0;
  }
  
  @include breakpoint(xs38){
    padding:17px 0;  
  }
}
.price__buy-btn{
  @extend .hero__btn;
  width: 100%;
  padding:30px 0;
  display: flex;
  justify-content: center;
  box-shadow: unset;
}
.price__free-btn{
  @extend .hero__btn;
  background-color: unset;
  color:#fff;
  width: 100%;
  border: 3px solid #FFFFFF;
  border-radius: 10px;
  padding:27px 0;
  display: flex;
  justify-content: center;
  box-shadow: unset;
}

.faq__btn{
  padding:27px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #1EEBCD;
  border-radius: 10px;
  font-weight: 700;
  line-height: 150%;
  color: #1EEBCD;
  width:100%;
  cursor:pointer;
  user-select: none;
  @include fluid-type(480px, 768px, 14px, 18px);
  transition: .3s ease-in-out;

  &:hover{
    box-shadow: 0px 2px 30px rgba(30, 235, 205, 0.6);
  }
  &:active{
    box-shadow: 0px 2px 30px rgba(30, 235, 205, 0.6);
    background: #1EEBCD;
    color:#020e0c;
  }
}
.bundle__btn{
  @extend .hero__btn;
  display: flex;
  padding: 30px 0;
  justify-content: center;
  max-width: 410px;
  width: 100%;
  @include breakpoint(md){
    max-width: 100%;
  }
}