/*SLIDER VARIABLES*/

$sliderColor: #245462;
$dotSize: 15px;

/*SLIDER VARIABLES*/
*{
  margin: 0;
  padding: 0;
}

.range-slider{
  position: relative;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  //border:2px solid black;
  height:500px;
}

input[type="range"]{
  -webkit-appearance:none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background: transparent;
  pointer-events: none;
}

.slider-track{
  position: absolute;
  width: 100%;
  height: 10px;
  //background: #d5d5d5;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 3px;
}

.slider-track-btw{
  position: absolute;
}


input[type="range"]::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  height: 5px;
}

input[type="range"]::-moz-range-track{
  -moz-appearance: none;
  height: 5px;
}

input[type="type"]::-ms-track{
  appearance: none;
  height: 5px;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: $dotSize;
  height: $dotSize;
  border: 3px solid $sliderColor;
  background: white;
  cursor: pointer;
  border-radius: 15px;
  pointer-events: auto;
  margin-top: -5px;
}

input[type="range"]::-moz-range-thumb{
  -webkit-appearance: none;
  height: $dotSize;
  width: $dotSize;
  cursor: pointer;
  border-radius: 50%;
  background-color: $sliderColor;
  pointer-events: auto;
}

input[type="range"]::-ms-thumb{
  appearance: none;
  width: $dotSize;
  height: $dotSize;
  cursor:pointer;
  border-radius: 50%;
  background-color: $sliderColor;
  pointer-events: auto;
}

input[type="range"]:active::-webkit-slider-thumb{
  background-color: $sliderColor;
  border:3px solid $sliderColor;
}

.slider-values{
  background-color: $sliderColor;
  width: 15%;
  position: relative;
  margin: auto;
  color:white;
  padding: 10px 0;
  border-radius: 5px;
  font-weight: 500;
  text-align: center;
  font-size: 25px;
  /*  &:before{
    content: "";
    position: absolute;
  }*/
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}