.advantages {

  padding-bottom: 200px;

  @include breakpoint(lg){
    padding:0 20px 200px;
  }

  @include breakpoint(sm){
    padding-bottom: 150px;
  }
  @include breakpoint(xs38){
    padding-bottom: 120px;
  }
  &__row {
    display: flex;
    flex-direction: column;
    row-gap: 100px;

    @include breakpoint(md){
      row-gap: 60px;
    }
    @include breakpoint(sm){
      row-gap: 50px;
    }
  }

  &__title {
  }

  &__cards {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
  }

  &__card {
    display: flex;
    column-gap: 30px;

    @include breakpoint(md){
      flex-direction: column;
      row-gap: 30px;
    }
  }

  &__img-wrapper {
    //width: 190px;
    height:190px;
    position: relative;
    overflow: hidden;
    min-width: 190px;

    @include breakpoint(md){
      height: 300px;
      max-width: 300px;
    }
    @include breakpoint(sm){
      height: 210px;
      max-width: 210px;
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    object-fit: cover;
  }

  &__card-txt {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__card-title {
    font-weight: 700;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #1EEBCD;
    @include fluid-type(480px, 768px, 24px, 36px);
  }

  &__card-desc {
    font-weight: 400;
    line-height: 150%;
    color: #FFFFFF;
    @include fluid-type(480px, 768px, 18px,24px);
  }
}