.bundle {

  padding-bottom: 100px;

  @include breakpoint(lg){
    padding: 0 20px 100px;
  }
  @include breakpoint(sm){
    padding:0;
  }
  &__row {
    display: flex;
    flex-direction: column;
    width:100%;
    background-image: url("../img/bundle-bg.jpg");
    @include cover-background;
    //min-height: 631px;
    border-radius: 10px;
    padding:100px;

    @include breakpoint(md){
      padding:100px 60px;
    }
    @include breakpoint(sm){
      padding:50px 20px;
      border-radius: unset;
    }
  }

  &__title {
    color:#1eebcd;
    margin-bottom: 30px;
  }

  &__desc {
    margin-bottom: 50px;
    font-weight: 400;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    max-width: 410px;
    @include fluid-type(480px, 768px, 18px, 24px);
    @include breakpoint(sm){
      max-width: 255px;
    }
  }

  &__btn {
  }
}
