.faq {
  padding-bottom: 200px;

  @include breakpoint(lg){
    padding-left: 20px;
    padding-right: 20px;
  }
  @include breakpoint(sm){
    padding-bottom: 150px;
  }
  @include breakpoint(xs38){
    padding-bottom: 120px;
  }
  &__row {
    display: flex;
    column-gap: 140px;

    @include breakpoint(lg){
      flex-direction: column;
      row-gap: 100px;
    }
    @include breakpoint(sm){
      row-gap: 70px;
    }
  }

  &__header {
    max-width: 530px;
    width:100%;
    display: flex;
    flex-direction: column;
    row-gap: 60px;

    @include breakpoint(lg){
      max-width: 100%;
      row-gap: 30px;
    }
  }

  &__title {
    color:#1eebcd;
  }

  &__desc {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    @include fluid-type(480px, 768px, 18px, 24px);
  }

  &__btn {
  }

  .accordion {
    max-width: 630px;
    display: flex;
    flex-direction: column;
    row-gap: 60px;

    @include breakpoint(lg){
      max-width: 100%;
    }
    @include breakpoint(xs38){
      row-gap: 30px;
    }
  }

  .accordion__item {
 /*   display: flex;
    flex-direction: column;*/
  }

  .accordion__header {
    display: flex;
    //align-items: center;
    column-gap: 35px;

    &.active{
      .accordion__svg-wrapper{
        transform:rotate(90deg);
      }
      margin-bottom: 25px;
    }

  /*  &.active + .accordion__body{
      padding-top: 25px;
    }*/
  }

  .accordion__svg-wrapper {
    margin-top: 9px;
    transition: .2s ease-in-out;
  }

  .accordion__header-txt {
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    @include fluid-type(480px, 768px, 24px,36px)
  }

  .accordion__body {

    padding-left: 60.5px;
    background-color: unset;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    @include breakpoint(xs38){
      padding-left: 0;
    }
  }

  .accordion__body-txt {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    @include fluid-type(480px, 768px, 18px, 24px);
  }
}