.features {
  overflow: hidden;
  padding:0 0 100px;

  @include breakpoint(lg){
    padding-left: 20px;
    padding-right: 20px;
  }
  @include breakpoint(xs){
    padding-bottom: 70px;
  }

  .content__outer {
    position: relative;
  }

  &__bg-img-wrapper{
    //max-width: 1700px;
    //max-height: 1700px;
    width: 1700px;
    height: 1700px;
    position: absolute;
    z-index: -1;
    top: 296px;
    left: -15%;

    @include breakpoint(lg16){
      top: 450px;
      left: -20%;
      //top: calc(100vw / 6.4);
    }
    @include breakpoint(lg12){
      left: -40%;
    }
    @include breakpoint(lg){
      top: 800px;
    }
    @include breakpoint(md){
      top: 780px;
      left: -60%;
    }
    @include breakpoint(sm){
      left: -120%;
    }
    @include breakpoint(xs){
      left: -160%;
    }
  }

  &__bg-img{
    width: 100%;
    height: 100%;
  }

  &__row {
    display: flex;
    flex-direction: column;
    row-gap: 79px;

    @include breakpoint(lg){
      row-gap: 100px;
    }

    @include breakpoint(sm){
      row-gap: 50px;
    }
  }

  &__title {
  }

  &__cards {
    display: flex;
    flex-direction: column;
    row-gap: 100px;

    @include breakpoint(xs){
      row-gap: 70px;
    }
  }

  &__card {
    display: flex;
    align-items: center;
    column-gap: 65px;

    &:first-child{
      .features__card-txt{
        border: 3px solid;
        border-image: linear-gradient(42.84deg, #BEFFF6 15.35%, #020E0C 62.05%) 1;
      }
      @include breakpoint(lg){
        .features__card-txt{
          border-image: linear-gradient(70deg, rgba(190,255,246,1) 30%, rgba(2,14,12,1) 87%) 1;;
        }
      }
      @include breakpoint(md){
        border-image: linear-gradient(73.18deg, #BEFFF6 21.91%, #020E0C 95.17%) 1;
      }
      @include breakpoint(sm){
        .features__card-txt{
          border-image: linear-gradient(73.18deg, #BEFFF6 21.91%, #020E0C 95.17%) 1;
        }
      }
      @include breakpoint(xs){
        .features__card-txt{
          border: 0;
        }
      }
    }

    &:nth-child(2){
      flex-direction: row-reverse;
      .features__card-txt{
        border: 3px solid;
        border-image: linear-gradient(135deg, rgba(190,255,246,1) 10%, rgba(2,14,12,1) 50%) 1;
      }
      @include breakpoint(lg){
        border-image: linear-gradient(128.78deg, #BEFFF6 12.58%, #020E0C 52%) 1;
      }
      @include breakpoint(md){
        border-image: linear-gradient(128.78deg, #BEFFF6 12.58%, #020E0C 52%) 1;
      }
      @include breakpoint(sm){
        .features__card-txt{
          border-image-source: linear-gradient(73.33deg, #BEFFF6 25.24%, #020E0C 109.64%);
        }
      }
      @include breakpoint(xs){
        .features__card-txt{
          border: 0;
        }
      }
    }

    &:last-child{
      .features__card-txt{
        border: 3px solid;
        border-image: linear-gradient(155deg, rgba(190,255,246,1) 20%, rgba(2,14,12,1) 57%) 1;
      }
      @include breakpoint(lg){
        .features__card-txt{
          border-image: linear-gradient(160deg, rgba(190,255,246,1) 20%, rgba(2,14,12,1) 57%) 1;
        }
      }
      @include breakpoint(md){
        border-image: linear-gradient(144.24deg, #BEFFF6 30.97%, #020E0C 57.27%) 1;
      }
      @include breakpoint(sm){
        .features__card-txt{
          border-image-source: linear-gradient(73.33deg, #BEFFF6 25.24%, #020E0C 109.64%);
        }
      }
      @include breakpoint(xs){
        .features__card-txt{
          border: 0;
        }
      }
    }

    @include breakpoint(lg12){
      column-gap: 45px;
    }
    @include breakpoint(lg11){
      column-gap: 30px;
    }
    @include breakpoint(lg){
      flex-direction: column-reverse;
      row-gap: 60px;

      &:nth-child(2){
        flex-direction: column-reverse;
      }
    }
    @include breakpoint(xs){
      row-gap: 30px;
    }
  }

  &__card-txt {
    display: flex;
    flex-direction: column;
    padding: 60px;
    max-width: 740px;
    row-gap: 60px;
    backdrop-filter: blur(20px);

    @include breakpoint(lg){
      min-width: 100%;
    }
    @include breakpoint(sm){
      padding:30px;
    }
    @include breakpoint(xs38){
      padding: 15px;
    }
    @include breakpoint(xs){
      row-gap: 30px;
      padding: 0;
    }
  }

  &__card-title {
    font-weight: 700;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    @include fluid-type(480px, 768px, 24px, 36px);
  }

  &__card-desc {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    @include fluid-type(480px, 768px, 18px, 24px);
  }

  &__card-link {
    font-weight: 700;
    text-decoration-line: underline;
    color: #1EEBCD;
  }

  &__card-img-wrapper {
    min-width: 35%;
  }

  &__card-img {
  }
}