.hero {
  position: relative;
  overflow: hidden;
  padding: 87px 0 100px;
  @include breakpoint(lg){
    padding-top:140px;
  }
  @include breakpoint(md){
    padding-top: 60px;
  }
  @include breakpoint(sm){
    padding-top: 144px;
  }
  @include breakpoint(xs38){
    padding: 124px 0 60px;
  }

&__row {
  display: flex;
  align-items: center;
  padding:0 20px;
  @include breakpoint(md95){
    flex-direction: column;
    row-gap: 60px;
  }
  @include breakpoint(sm){
    row-gap: 100px;
  }
  @include breakpoint(xs){
    row-gap: 60px;
  }
}
&__gradient-border{

  border: 3px solid;
  border-image: linear-gradient(125deg, rgba(190,255,246,1) 10%, rgba(2,14,12,1) 40%) 1;

  @include breakpoint(sm){
    border-image: linear-gradient(125deg, rgba(190,255,246,1) 10%, rgba(2,14,12,1) 90%) 1;
  }
}

&__txt-wrapper {
  padding:60px;
  //background: rgba(2, 14, 12, 0.01);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  max-width: 740px;
  background-color: rgba(0,0,0,0);

  @include breakpoint(lg){
    max-width: 677px;
  }
  @include breakpoint(sm){
    padding: 30px;
    row-gap: 30px;
  }
  @include breakpoint(sm){
    padding: 20px;
    border-radius: 0;
  }
}
/*  .hero__txt-gradient{
    border-radius: 10px;
    background: linear-gradient(125deg, rgba(190,255,246,1) 10%, rgba(2,14,12,1) 40%);
    padding:3px;

    @include breakpoint(sm){
      background: linear-gradient(125deg, rgba(190,255,246,1) 10%, rgba(2,14,12,1) 90%);
      padding:3px 3px 3px 3px;
    }
    @include breakpoint(xs){
      padding:3px;
      border-radius: 0;
    }
  }*/

&__title {
}
.hero__img-wrapper{

  .hero__img{
    min-width: 551px;

    @include breakpoint(md95){
      min-width: unset;
      max-width: 100%;
    }
  }
}
&__txt {
  font-weight: 400;
  line-height: 150%;
  color: #FFFFFF;
  @include fluid-type(480px, 768px, 18px, 24px);
}



&__link {
  text-decoration-line: underline;
  color: #1EEBCD;
  position: relative;
  transition: color .2s;

  &:before{
    content: '';
    position: absolute;
    width:100%;
    height: 2px;
    bottom: -3px;
    background-color: #1EEBCD;
    opacity: 0;
  }

  &:hover{
    text-decoration-line: unset;
    color:#fff;
    &:before{
      opacity: 1;
    }
  }
  &:active{
    color:#1EEBCD;
  }
}

&__footer {
  display:grid;
  grid-template-columns: repeat(4,300px);
  justify-content: space-between;
  grid-template-areas: 'first-g-block second-g-block third-g-block forth-g-block';
  @include breakpoint(lg12){
    grid-template-columns: repeat(4, 25%);
  }
  @include breakpoint(lg){
    gap: 20px;
    padding:0 20px;
    justify-content: unset;
    grid-template-columns: minmax(200px,300px) minmax(200px,300px);
    grid-template-areas: 'first-g-block forth-g-block'
                         'third-g-block second-g-block';
  }
  @include breakpoint(sm){
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    /*grid-template-areas: 'first-g-block forth-g-block'
                         'third-g-block second-g-block';*/
  }
}

&__statistic-block {
  &:first-child{
    grid-area: first-g-block;
    @include breakpoint(sm){
      order: 1;
    }
  }
  &:nth-child(2){
    grid-area: second-g-block;
    @include breakpoint(sm){
      order: 4;
    }
  }
  &:nth-child(3){
    grid-area: third-g-block;
    @include breakpoint(sm){
      order: 3;
    }
  }
  &:last-child{
    grid-area: forth-g-block;
    @include breakpoint(sm){
      order: 2;
    }
  }
}

&__statistic-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #1EEBCD;
}

  &__statistic-txt {
    font-weight: 400;
    line-height: 150%;
    color: #FFFFFF;
    @include fluid-type(480px, 768px, 18px,24px);
  }
}