.plans {
  padding-bottom: 200px;

  @include breakpoint(lg){
    padding:0 20px 200px ;
  }
  @include breakpoint(sm){
    padding-bottom: 150px;
  }
  @include breakpoint(xs38){
    padding-bottom: 120px;
  }
  &__row {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

  }

  &__header-wrapper {
    display: flex;
    column-gap: 30px;
    @include breakpoint(lg){
      column-gap: 20px;
    }
    @include breakpoint(md){
      flex-direction: column;
      row-gap: 100px;
    }
    @include breakpoint(sm){
      row-gap: 50px;
    }
  }

  &__title {
  }
  &__header-title{
    flex-basis: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__header {
    display: flex;
    column-gap: 30px;
    flex-basis: 66.6%;

    @include breakpoint(lg){
      column-gap: 20px;
    }
  }
  &__feature-title{
    @include breakpoint(md){
      display: none;
    }
  }

  &__header-pro, &__header-free{
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    @include breakpoint(xs38){
      flex-basis: 50%;
    }
  }

  &__header-pro {
    .plans__price{
      color:#1eebcd;
    }
  }

  &__availability {
    font-weight: 700;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    @include fluid-type(480px, 768px, 24px ,36px);
  }

  &__price {
    font-weight: 700;
    line-height: 75px/64px * 100%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color:#fff;
    @include fluid-type(480px, 768px, 32px, 64px);

  }

  &__desc {
    font-weight: 400;
    line-height: 150%;
    color: #FFFFFF;
    @include fluid-type(480px,768px, 18px, 24px);

    @include breakpoint(xs38){
      display: none;
    }
  }

  &__btn {
  }

  &__header-free {
  }

  &__table {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @include breakpoint(md){
      row-gap: 30px;
    }
    @include breakpoint(sm){
      row-gap: 40px;
    }
  }

  &__t-row {
    display: flex;
    column-gap: 30px;

    @include breakpoint(lg){
      column-gap: 20px;
    }
    @include breakpoint(md){
      flex-direction: column;
      row-gap: 15px;
    }

    &:last-child{
      .plans__feature-line, .plans__feature-line--md{
        display: none;
      }
    }
  }

  &__feature-name {
    flex-basis: 33.3%;
    font-weight: 400;
    line-height: 150%;
    color: #FFFFFF;
    @include fluid-type(480px, 768px,18px,24px);

    @include breakpoint(md){
      text-align: center;
    }
  }

  &__feature-comparing {
    flex-basis: 66.6%;
    display: flex;
    flex-direction: column;

  }
  &__feature-comparing-content{
    display: flex;
    column-gap: 30px;

    @include breakpoint(lg){
      column-gap: 20px;
    }
  }
  &__feature-content{
    display: flex;
    align-items: center;

    padding-left: 6px;
    @include breakpoint(md){
      justify-content: center;
      padding-left: unset;
    }
  }
  &__feature-availability {
    flex-basis: 50%;
    //border-bottom: 3px solid #0E2E29;

    @include breakpoint(md){
      text-align: center;

    }
  }
  &__feature-line{
    width:100%;
    height: 3px;
    background-color: #0E2E29;
    margin-top: 20px;

    @include breakpoint(md){
      display: none;
    }
  }
  &__feature-line--md{
    @extend .plans__feature-line;
    display: none;
    @include breakpoint(md){
      display: block;
      margin-top: 15px;
    }
  }

  &__feature-txt {
    font-weight: 700;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    display: inline-block;
    margin-left: 15px;
    @include fluid-type(480px, 768px,18px,24px);
  }
}