.price-reviews{
  overflow: hidden;
}
.price {

  padding-bottom: 200px;
  @include breakpoint(lg){
    padding:0 20px 200px;
  }
  @include breakpoint(sm){
    padding-bottom: 150px;
  }
  @include breakpoint(xs38){
    padding-bottom: 120px;
  }
  &__bg-img-wrapper{
    position: absolute;
    width: 1100px;
    height: 1100px;
    z-index: -1;
    right: -97px;
    top: 34%;

    img{
      width: 100%;
      height: 100%;
    }
    @include breakpoint(lg){
      display: none;
    }
  }
  &__row {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    @include breakpoint(lg){
      row-gap: 60px;
    }
    @include breakpoint(sm){
      row-gap: 50px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(sm){
      flex-direction: column;
      row-gap: 20px;
      align-items: start;
    }
  }

  &__title {
  }

  &__switcher {
    display: flex;
    column-gap: 60px;
    @include breakpoint(md){
      column-gap: 40px;
    }
    @include breakpoint(sm){
      column-gap: 30px;
      flex-wrap: wrap;
      row-gap: 20px;
    }
    @include breakpoint(xs38){
      column-gap: 20px;
    }
  }

  &__radio {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__radio-txt {
    font-weight: 700;
    line-height: 150%;
    display: inline-block;
    text-align: right;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    user-select: none;
    cursor:pointer;
    @include fluid-type(480px, 768px, 18px,36px)
  }

  &__radio-input {
    display: none;
  }

  &__fake-radio {
    display: inline-block;
    width: 44px;
    height: 44px;
    border: 6px solid #0e2e29;
    border-radius: 50%;
    position: relative;

    &:before{
      content:'';
      display: block;
      position: absolute;
      width: 32px;
      height: 32px;
      left: 50%;
      top: 50%;
      transform:translate(-50%, -50%);
      background-color: #1eebcd;
      transition:opacity .3s ease-in-out;
      opacity: 0;
      cursor:pointer;
      border-radius: 50%;
    }
  }

  &__radio-input:checked + .price__fake-radio:before{
    opacity: 1;
  }

  &__cards {
    display: flex;
    column-gap: 30px;
    width:100%;

    @include breakpoint(lg12){
      column-gap: 20px;
    }
    @include breakpoint(lg11){
      column-gap: 15px;
    }
    @include breakpoint(lg){
      gap: 20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      //flex-wrap: wrap;
    }
    @include breakpoint(md){
      column-gap: 10px;
    }
    @include breakpoint(sm){
      grid-template-columns: 1fr;

    }
  }

  &__card {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    border: 3px solid #1EEBCD;
    border-radius: 10px;
    padding:30px;

    @include breakpoint(lg12){
      padding:25px;
    }
    @include breakpoint(lg11){
      padding:20px;
    }
    @include breakpoint(lg){
      background-color:  #0E2E29;
      border:unset;
    }
    @include breakpoint(sm){
      row-gap: 20px;
    }


  }



  &__card-plan {
    font-weight: 700;
    line-height: 150%;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    @include fluid-type(480px, 768px, 24px,36px);
  }

  &__card-cost {
    font-weight: 700;
    font-size: 64px;
    line-height: 75/64 * 100%;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #1EEBCD;
  }
  &__list-delimiter{
    height:2px;
    width:100%;
    background-color: #0E2E29;
    margin:15px 0;

    @include breakpoint(lg){
      background-color: #fff;
    }
  }
  &__advantages {
    flex-grow: 1;
  }

  &__site-amount {
  }

  &__lifetime-upd {
  }

  &__lifetime-sup {
  }
  &__list-item{
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    @include fluid-type(480px, 768px, 18px, 24px);
  }
  &__buy-btn {
  }

  &__free-btn {
  }

  &__card--unlimited{
    background-color: #1eebcd;
    .price__card-plan{
      @extend .price__card-plan;
      color:#020e0c;
    }
    .price__card-cost{
      @extend .price__card-cost;
      color:#020e0c;
    }
    .price__list-delimiter{
      background-color: #020e0c;
    }
    .price__list-item{
      color: #020e0c;
    }
    .price__buy-btn{
      background-color: #020e0c;
      color:#fff;

      &:hover{
        background-color: #fff;
        color:#020e0c;
      }
      &:active{
        box-shadow: 0px 4px 67px rgba(0, 0, 0, 0.6);
      }
    }
    .price__free-btn{
      border-color: #020e0c;
      color:#020e0c;

      &:active{
        box-shadow: 0px 4px 67px rgba(0, 0, 0, 0.6);
      }
    }

  }
}