.purchase {
  padding-bottom: 200px;

  @include breakpoint(lg){
    padding:0 20px 200px;
  }
  @include breakpoint(sm){
    padding-bottom: 156px;
  }
  @include breakpoint(xs){
    padding-bottom: 120px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;

    @include breakpoint(lg){
      flex-direction: column;
    }
  }

  &__img-content {
    max-width: 630px;
    display: flex;
    flex-direction: column;
    row-gap: 100px;

    @include breakpoint(lg){
      max-width: 100%;
    }
    @include breakpoint(sm){
      row-gap: 50px;

    }
  }

  &__title {
    @include breakpoint(lg){
      max-width: 630px;
    }
    @include breakpoint(sm){
      max-width: 268px;
    }
  }

  &__img-wrapper {
    @include breakpoint(lg){
      margin: 0 auto 65px;
    }

    @include breakpoint(md){
      margin-bottom: 60px;
    }
    @include breakpoint(sm){
      margin-bottom: 50px;
    }
  }

  &__img {
  }

  &__cards {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    max-width: 630px;

    @include breakpoint(lg){
      max-width: 100%;
      margin-bottom: 60px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: start;
  }

  &__card-img-wrapper {
  }

  &__card-img {
  }

  &__card-txt {
  }

  &__card-title {
    font-weight: 700;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #1EEBCD;
    @include fluid-type(480px, 768px, 24px, 36px);
  }

  &__card-desc {
    font-weight: 400;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    @include fluid-type(480px, 768px, 18px, 24px);
  }


}