
.bottom-content{
  overflow: hidden;
}
.results {
  padding-bottom: 100px;
  overflow: hidden;

  @include breakpoint(lg){
    padding:0 20px 100px;
  }
  @include breakpoint(sm){
    padding-bottom: 50px;
  }
  &__img-wrapper{
    position: absolute;
    z-index: -1;
    top: 480px;
    //right:-44%;
    right:-570px;;
    max-width: 1641px;
    width: 1641px;
    max-height: 1856px;
    height: 1856px;
    transform: rotate(-1deg);

    img{
     /* width:100%;
      height: 100%;*/
    }
    @include breakpoint(lg){
      top: 581px;
      right: -85%;


    }
    @include breakpoint(md){
      top: 29%;
      right: -107%;
    }
    @include breakpoint(sm){
      top: 34%;
      right: -169%;
    }
    @include breakpoint(xs38){
      display: none;
    }
  }
  &__row {
    display: flex;
    flex-direction: column;
    row-gap: 120px;
    @include breakpoint(lg){
      row-gap: 100px;
    }
    @include breakpoint(sm){
      row-gap: 50px;
    }
  }

  &__title {
  }

  &__body {
    display: flex;
    column-gap: 60px;

    @include breakpoint(lg12){
      column-gap: 40px;
    }
    @include breakpoint(lg){
      flex-direction: column;
      row-gap: 60px;
    }
    @include breakpoint(md){
      row-gap: 100px;
    }
    @include breakpoint(sm){
      row-gap: 50px;
    }
    @include breakpoint(xs38){
      row-gap: 70px;
    }

  }

  &__slider {
    max-width: 630px;
    width:100%;

    @include breakpoint(lg12){
      max-width: 570px;
      //flex-basis: 50%;
      //width:50%;
    }
    @include breakpoint(lg11){
      max-width: 520px;
    }

    @include breakpoint(lg){
      max-width: 100%;
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    @include breakpoint(lg){
      row-gap: 60px;
    }
    @include breakpoint(sm){
      row-gap: 50px;
    }
  }
  &__slide-u-info{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .userinfo-max-width{
    @include truncate(260px);
    @include breakpoint(lg12){
      @include truncate(200px);
    }
    @include breakpoint(lg){
      @include truncate(420px);
    }
    @include breakpoint(md){
      /* screenWidth - sidePadding - (image width and colGap) - (btn wrapper width) - (space between user info and buttons)*/
      @include truncate(calc(100vw - 40px - 140px - 144px - 20px));
    }
    @include breakpoint(sm){
      @include truncate(calc(100vw - 40px - 80px - 144px - 20px));
    }
    @include breakpoint(xs38){
      @include truncate(calc(100vw - 40px - 70px - 90px - 20px));
    }
  }
  &__slide-u-name{
    font-weight: 700;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    @include fluid-type(480px, 768px, 18px, 36px);
    @include truncate(260px);
    //@include breakpoint()
    @extend .userinfo-max-width;

  }
  &__slide-u-position{
    font-weight: 400;
    line-height: 150%;
    color: #FFFFFF;
    @include fluid-type(480px, 768px, 18px, 24px);
    @extend .userinfo-max-width;
  }
  &__slide-header {
    display: flex;
    align-items: center;
    column-gap: 40px;
    @include breakpoint(sm){
      column-gap: 20px;
    }
    @include breakpoint(xs38){
      column-gap: 10px;
    }
  }

  &__slide-img-wrapper {
    min-width: 100px;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    @include breakpoint(sm){
      min-width: 60px;
      width: 60px;
      height: 60px;
    }
  }

  &__slide-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform:translate(-50%);
    object-fit:cover;
  }

  &__slide-body {
    color:#fff;
    display: grid;
    grid-template-columns: repeat(2, minmax(130px,1fr));
    gap:30px;

    @include breakpoint(lg){
      column-gap: 20px;
    }
    @include breakpoint(xs38){
      row-gap: 20px;
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    @include fluid-type(480px, 768px, 24px, 36px);
  }
  &__customers, &__profit, &__discount{
    display: flex;
    flex-direction: column;
    row-gap: 10px;


    &:not(.results__discount--after,.results__customers--after,.results__profit--after){
      .results__slide-value{
        background: #0E2E29;
        border-radius: 10px;
        font-weight: 400;
        line-height: 150%;
        overflow-wrap: break-word;
        display: inline-block;
        text-align: center;
        /*display: flex;
        justify-content: center;
        align-items: center;*/
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #FFFFFF;
        text-align: center;
        @include fluid-type(480px, 768px, 18px, 24px);
      }
    }
  }
  &__slide-value--middle{
    padding: 12px 0;
    @include breakpoint(sm){
      padding: 16.5px 0;
    }
    @include breakpoint(sm)
  }
  &__slide-value--last{
    padding:23px 0;
    @include breakpoint(sm){
      padding:27.5px 0;
    }
  }

  &__slide-desc{
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    @include fluid-type(480px, 768px, 18px, 24px);
  }
  &__profit--after,&__customers--after, &__discount--after{
    background-color: #1eebcd;
    font-weight: 700;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #020E0C;
    border-radius: 10px;
    @include fluid-type(480px, 768px, 18px, 24px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__customers {

  }


  &__customers-value--after {
  }

  &__profit {
  }

  &__discount {
  }



  &__txt {
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding:60px;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    border: 3px solid;
    max-width: 597px;
    border-image: linear-gradient(347.19deg, #BEFFF6 4.44%, #020E0C 48.15%) 1;

    @include breakpoint(lg12){
      flex-basis: 50%;
    }

    @include breakpoint(lg){
      max-width: 100%;
      border-image: linear-gradient(273.59deg, #BEFFF6 -2.7%, #020E0C 86.15%) 1;
    }

    @include breakpoint(md){
      border-image: linear-gradient(135.02deg, #020E0C 43.29%, #BEFFF6 60.39%) 1;
    }
    @include breakpoint(sm){
      padding: 30px;
      row-gap: 30px;

      border-image: linear-gradient(97.02deg, #020E0C 5.96%, #BEFFF6 58.77%) 1;


    }
    @include breakpoint(xs38){
      padding: unset;
      row-gap: 20px;
      border: 0;
    }

  }

  &__desc {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;

    @include fluid-type(480px, 768px, 18px, 24px);

  }
  .slick-slide{
    display: flex;
  }
  &__slider-wrapper{
    position: relative;
  }
  &__slider-btn-wrapper{
    display: flex;
    column-gap: 16px;
    position: absolute;
    right: 0;
    top: 18px;
    z-index: 5;

    @include breakpoint(lg){
      top: 0;
    }
    @include breakpoint(xs38){
      column-gap: 10px;
      top: 10px;
    }
  }
  &__slider-next, &__slider-prev{
    width: 64px;
    height: 64px;
    background-color: #1eebcd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;

    @include breakpoint(xs38){
      width: 40px;
      height: 40px;
    }
    svg{
      stroke-width: 3;
      stroke: #fff;
      @include breakpoint(xs38){
        width: 20px;
        height: 20px;
      }
    }
    &:not(.slick-disabled):hover{
      box-shadow: 0px 4px 20px rgba(30, 235, 205, 0.6);
    }
    &:not(.slick-disabled):active{
      svg{
        stroke: #020E0C;
      }
    }
    &.slick-disabled{
      background-color: #0E2E29;
      svg{
        stroke: #020E0C;
      }
    }

  }
  &__slider-next{


  }
  &__slider-prev{

  }
  .slick-slide{
    padding-right: 5px;
    &:last-child{
      padding-right: unset;
    }
  }
  .animated{
      animation-name: winking;
      animation-duration: .5s;
      animation-iteration-count: 1;
      animation-timing-function: ease-in-out;

  }
  @keyframes winking {
    0% {
      opacity:1;

    }
    50% {
      opacity:0;
    }
    100% {
      opacity: 1;
    }
  }
}