.reviews {
  padding-bottom: 200px;
  @media screen and (min-width: $maxWidth){
    //overflow-x: hidden;
  }

  @include breakpoint(lg){


  }
  @include breakpoint(md){
    //padding-right: 20px;
  }
  @include breakpoint(sm){
    padding-bottom: 150px;
  }
  @include breakpoint(xs38){
    padding-bottom: 120px;
  }
  &__row {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    @include breakpoint(sm){
      row-gap: 50px;
    }
  }

  &__title {
  }

  &__slider {
    @media (min-width: $maxWidth){
      clip-path: inset(-100vw -100vw -100vw 0);
    }
    @include breakpoint(lg){
      padding-left: 5px;
    }
    @include breakpoint(md){
      padding-right: 5px;
    }
  }

  &__slide {
    max-width: 630px;
    display: flex !important;
    flex-direction: column;
    row-gap: 30px;

    @media screen and (max-width: 650px){
      max-width: 100%;
    }
    @include breakpoint(xs38){
      row-gap: 20px;
    }
  }

  &__slide-content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: #0E2E29;
    border-radius: 10px;
    padding:30px;
    flex-grow: 1;
    @include breakpoint(xs38){
      padding: 20px;
    }

  }

  &__slide-title {
    font-weight: 700;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    @include fluid-type(480px, 768px, 24px, 36px);


  }

  &__slide-desc {
    font-weight: 400;
    line-height: 150%;
    color: #FFFFFF;
    @include fluid-type(480px,768px,18px,24px);

  }

  &__slide-author {
    display: flex;
    column-gap: 20px;
    align-items: center;
  }

  &__slide-avatar-wrapper {
    width: 80px;
    height: 80px;
    min-width: 80px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
  }

  &__slide-avatar {
    width:100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    object-fit: cover;
  }

  &__slide-author-txt {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__slide-author-name {
    font-weight: 700;
    line-height: 150%;
    color: #FFFFFF;
    @include fluid-type(480px, 768px, 18px,24px);
    @include truncate(180px);
  }

  &__slide-author-pos {
    font-weight: 400;
    line-height: 150%;
    color: #FFFFFF;
    @include fluid-type(480px, 768px, 18px,24px)
  }
  &__slider-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 60px;

    @include breakpoint(sm){
      row-gap: 50px;
    }
    @include breakpoint(xs38){
      row-gap: 40px;
    }
  }
  .slick-list{
    @media screen and (min-width: $maxWidth){
      overflow: unset;
    }
  }
  .slick-slide {
    height: auto;
    padding: 0 15px;
    @include breakpoint(md){
      //padding: 0 5px;
    }
  }

  &__slick-dots{
    width:100%;
    line-height: 0;

    .slick-dots{

      display: flex;
      li{
        flex-basis: 25%;
        line-height: 0;
        font-size: 0;

        button{
          height: 6px;
          width:100%;
          font-size: 0;
          background-color: #0E2E29;
          line-height: 0;
          transition: .3s ease-in-out;

        }

        &:not(.slick-active):hover{
          button{
            background-color: #1eebcd;
            box-shadow: 0px 4px 40px rgba(30, 235, 205, 0.6);
          }
        }

        &.slick-active{
          button{
            background-color: #1eebcd;
            height: 6px;

            &:hover{
              background-color: #fff;
              box-shadow: 0px 4px 40px rgba(255, 255, 255, 0.6);
            }
          }
        }
      }
    }
    @include breakpoint(lg){
      padding:0 20px;
    }
    @include breakpoint(md){
      //padding-right: unset;
    }
  }
  .slick-track{
    display: flex;
  }
  .reviews__side-padding{
    @include breakpoint(lg){
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}