.settings {

  padding-bottom: 209px;

  @include breakpoint(lg){
    padding:0 20px 200px;
  }
  @include breakpoint(sm){
    padding-bottom: 150px;
  }
  &__row {
    display: flex;
    column-gap: 24px;

    @include breakpoint(lg){
      flex-direction: column;
      row-gap: 60px;
    }
    @include breakpoint(sm){
      row-gap: 30px;
    }
  }
  &__col-l, &__col-r{
    max-width: 630px;
    flex:1;
    row-gap: 60px;
    @include breakpoint(lg){
      max-width: 100%;
    }
    @include breakpoint(sm){
      row-gap: 30px;
    }
  }

  &__col-l {
    display: flex;
    flex-direction: column;
    //row-gap: 60px;

    .settings__btn{
      display: block;

      @include breakpoint(lg){
        display: none;
      }
    }
  }

  &__title {
    color:#1EEBCD;
    font-feature-settings: 'pnum' on, 'lnum' on;
  }

  &__desc {
    font-weight: 700;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    @include fluid-type(480px, 768px, 24px, 36px);
  }

  &__btn {
  }
  &__paragraphs{
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    @include breakpoint(sm){
      row-gap: unset;
    }
  }
  &__col-r {
    display: flex;
    flex-direction: column;
    //row-gap: 60px;

    .settings__btn{
      display: none;
      
      @include breakpoint(lg){
        display: block;
      }
    }
  }

  &__paragraph {
    font-weight: 400;
    line-height: 150%;
    color: #FFFFFF;
    @include fluid-type(480px, 768px, 18px, 24px);
  }
}