.unknown{
  @include breakpoint(lg){
    padding: 0 20px;
  }

  &__row{
    width: 100%;
    max-height: 600px;
    background-color: #0E2E29;
    border-radius: 10px;
    @include breakpoint(sm){
      max-height: 400px;
    }
    @include breakpoint(xs){
      max-height: 200px;
    }
  }
}