@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&family=Raleway:wght@400;700&display=swap');

@font-face {
  font-family: 'icomoon';
  src:  url($iconFont + 'icomoon.eot?9umdo5');
  src:  url($iconFont + 'icomoon.eot?9umdo5#iefix') format('embedded-opentype'),
  url($iconFont + 'icomoon.ttf?9umdo5') format('truetype'),
  url($iconFont + 'icomoon.woff?9umdo5') format('woff'),
  url($iconFont + 'icomoon.svg?9umdo5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}